{% extends "user/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content_user_page %}
    {% if process == "connect" %}
    <h1>{% blocktrans with provider.name as provider %}Conectado com {{ provider }}{% endblocktrans %}</h1>

    <p>{% blocktrans with provider.name as provider %}Você está acessando o site através de uma conta do {{ provider }}.{% endblocktrans %}</p>
    {% else %}
    <h1>{% blocktrans with provider.name as provider %}Conectar através do {{ provider }}{% endblocktrans %}</h1>

    <p>{% blocktrans with provider.name as provider %}Você deseja acessar o site através de uma conta do {{ provider }}?{% endblocktrans %}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="text-end mt-3">
            <button type="submit" class="btn button-format">
                Conectar
            </button>
        </div>
    </form>
{% endblock %}
