{% extends 'user/base.html' %}
{% load setting_tags %}
{% load socialaccount %}

{% block title %} | Login{% endblock %}

{% block head %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    function onSubmit(token) {
        document.getElementById("demo-form").submit();
    }
</script>
{% endblock %}

{% block content_user_page %}
<h2 class="my-3">Login</h2>

<a href="{% provider_login_url 'google' %}">
    <img src="https://cdn-teams-slug.flaticon.com/google.jpg" class="image-icon">
</a>

<form method="POST" action="#" class="form-field" id='demo-form'>
    {% for field in form %}
        <div class="form-floating mb-3">
            {{ field }}
            {{ field.label_tag }}
            <div class="secondary-color">
            {{ field.errors }}
            </div>
            {% if field.help_text %}
            <p class="help primary-color">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}

    <div class="text-end">
        <a href="{% url 'user:register' %}">
            <strong>
                Cadastrar
            </strong>
        </a>
    </div>

    <div class="text-end">
        <a href="{% url 'user:password_reset' %}">
            <strong>
                Esqueci minha senha
            </strong>
        </a>
    </div>

    {% csrf_token %}
    <div class="text-end mt-3">
        <button class="btn button-format g-recaptcha"
                data-sitekey="{% recaptcha_site_key %}"
                data-callback='onSubmit'>
            Enviar
        </button>
    </div>
</form>
{% endblock %}
