{% extends 'user/base.html' %}
{% load static %}

{% block title %} | Confirmar redefinição de senha{% endblock %}

{% block content_user_page %}
<h2 class="my-3">Confirmar redefinição de senha</h2>
{% if validlink %}
    <p>Por favor informe (e confirme) sua nova senha.</p>
    <form method="POST" action="" class="form-field">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        {% for field in form %}
            <div class="form-floating mb-3">
                {{ field }}
                {{ field.label_tag }}
                <div class="secondary-color">
                {{ field.errors }}
                </div>
                {% if field.help_text %}
                <p class="help primary-color">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <div class="text-end mt-3">
            <button class="btn button-format">
                Enviar
            </button>
        </div>
    </form>
{% else %}
    <h1>Falha ao redefinir senha</h1>
    <p>O link para redefinição de senha é inválido, Possivelmente por já ter sido usado.
        Por favor solicite uma nova redefinição de senha.</p>
{% endif %}
{% endblock %}
