{% extends 'user/base.html' %}
{% load static %}

{% block title %} | Redefinição de senha enviada{% endblock %}

{% block content_user_page %}
<h2 class="my-3">Redefinição de senha enviada</h2>

<p>
    Nos te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email
    fornecido. Você receberá a mensagem em breve. Se você não recebeu um email, por favor certifique-se que
    você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.
</p>
{% endblock %}
