{% extends 'user/form_user.html' %}

{% block title %} | Cadastro{% endblock %}

{% block action %}Cadastrar{% endblock %}

{% block additional_content %}
<div class="form-check">
    <input class="form-check-input border border-dark"
           name="checkpermissions"
           type="checkbox"
           value="Aceitar"
           id="contentCreator">
    <label class="form-check-label" for="contentCreator">
        Aceito os termos de uso para criação de conteúdo
    </label>
</div>

<div class="text-end">
    <a href="{% url 'user:login' %}">
        <strong>
            Login
        </strong>
    </a>
</div>
{% endblock %}
