{% extends 'post/list_posts.html' %}
{% load humanize %}
{% load convert_tags %}

{% block posts %}

{% for post in posts %}
<article class="card dark-bg-color light-color">
    {% if post.image %}
    <a href="{% url 'post:post' post.pk %}">
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top">
    </a>
    {% endif %}
    <div class="card-body">
        <h1 class="h3">{{ post.title }}</h1>
        <p class="d-flex justify-content-around">
            <small>
                {{ post.ratting|to_int }} <i class="bi bi-star-fill text-warning"></i>
            </small>

            <small>
                {{ post.views }} <i class="bi bi-eye-fill"></i>
            </small>

            <small>
                {{ post.comments }} <i class="bi bi-chat-left-text-fill"></i>
            </small>
        </p>
        <p>{{ post.excerpt }}</p>
        <p class="text-end">
            <small>
                {{ post.published_date|naturalday|title }}
            </small>
        </p>
    </div>
    <div class="card-footer text-end">
        <a href="{% url 'post:post' post.pk %}">
            <button class="gray-bg-color dark-color"><strong>Acessar</strong></button>
        </a>
    </div>
</article>
{% endfor %}

{% endblock %}
