{% extends 'base.html' %}
{% load static %}

{% block title %} | Sobre{% endblock %}

{% block content %}
<section class="container-fluid landing-item gray-bg-color">
    <div class="container pt-5 pb-5">
        <div class="row row-cols-1 row-cols-md-2 dark-bg-color rounded">
            <div class="col p-3">
                <img src="{% static 'blog/img/user_svg_image.svg' %}" class="img-fluid rounded-start">
            </div>
            <div class="col p-3">
                <h1>BlogNews</h1>
                <p class="text-end"><small>Site criado por Matheus Simão Caixeta</small></p>
                <p>
                    BlogNews trata-se de um site voltado para a criação de posts, albuns e pesquisas que seriam
                    gerenciados pela própria comunidade, onde vários criadores de conteúdo poderiam se cadastrar
                    e realizar postagens dos mais variádos temas.
                </p>
                <p>
                    O objetivo da criação desse projeto é principalmente de aplicar as mais diversas tecnicas e
                    recursos disponibilizados pelo Framework Django e bibliotecas correlacionadas (Summernote, axes,
                    Debug toolbar...)
                </p>
                <p>
                    Outra objetivo relacionado ao projeto é o de se aplicar boas praticas como o TDD (Desenvolvimento
                    guiado por testes), padrões de projetos e frameworks do método agile.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
