{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light light-bg-color sticky-top d-none d-lg-block">
    <div class="container">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="#slides">Slides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#introduction">Introdução</a>
            </li>
            {% if galery.count > 3 %}
            <li class="nav-item">
                <a class="nav-link" href="#galery">Galeria</a>
            </li>
            {% endif %}
            {% if searches.count > 0 %}
            <li class="nav-item">
                <a class="nav-link" href="#searches">Pesquisas</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<section class="container-fluid landing-item" id="slides">
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col col-lg-6">
            <div class="carousel slide" id="carouselImages" data-bs-ride="carousel">
                <div class="carousel-indicators" >
                    <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Imagem 1"></button>
                    <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Imagem 2"></button>
                    <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Imagem 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://source.unsplash.com/random/600x600?r=1" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://source.unsplash.com/random/600x600?r=2" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://source.unsplash.com/random/600x600?r=3" class="d-block" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        {% if posts.count == 2 %}
        <div class="col col-lg-6 banner-most-popular-container">
            <div class="banner-most-popular-content">
                {% for post in posts %}
                <article class="banner-most-popular gray-bg-color rounded-3 d-sm-flex border border-light">
                    {% if post.image_post %}
                    <img src="{{ post.image_post.url }}" class="img-fluid rounded-start">
                    {% endif %}
                    <div class="p-3">
                        <h1 class="h4 m-bottom-3">
                            <strong>
                                {{ post.title_post }}
                            </strong>
                        </h1>
                        <p>
                            {{ post.excerpt_post }}
                        </p>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="col col-lg-6 d-none d-lg-block p-5 text-center">
            <h1>
                Publique seu post aqui e receba diversos feedbacks dos nossos leitores.
            </h1>
        </div>
        {% endif %}
    </div>
</section>

<section class="container-fluid landing-item gray-bg-color" id="introduction">
   <article class="landing-item-content">
       <h1 class="text-center m-bottom-5 dark-color">Introdução ao meu Blog</h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna arcu, feugiat eu feugiat quis, vulputate non dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum iaculis ante turpis, sed tempus dui volutpat eu. Praesent sodales suscipit ex.</p>
       <div class="d-md-flex">
            <div class="p-5">
                <h2 class="dark-color">
                    Regras dos sites
                </h2>
                <ul class="list-unstyled">
                    <li class="mb-2"><strong class="h3 rotate-10">1º</strong> <span class="ms-5">Respeitar a opinião do proximo;</span></li>
                    <li class="mb-2"><strong class="h3 rotate-10">2º</strong> <span class="ms-5">Apresentar somente informações com base solida;</span></li>
                    <li class="mb-2"><strong class="h3 rotate-10">3º</strong> <span class="ms-5">Regra de número 3</span></li>
                    <li class="mb-2"><strong class="h3 rotate-10">4º</strong> <span class="ms-5">Regra de número 4</span></li>
                    <li class="mb-2"><strong class="h3 rotate-10">5º</strong> <span class="ms-5">Regra de número 5</span></li>
                    <li class="mb-2"><strong class="h3 rotate-10">6º</strong> <span class="ms-5">Regra de número 6</span></li>
                </ul>
            </div>
            <div class="ms-auto d-none d-md-block">
                <img src="https://source.unsplash.com/random/300x300?r=6" class="img-fluid rounded-3 border border-light">
            </div>
       </div>
   </article>
</section>

{% if galery.count > 3 %}
<section class="fluid-container landing-item" id="galery">
    <h1 class="mt-5 ms-5">Galeria</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 text-center m-0">
        {% for image in galery %}
        <div class="col p-3">
            <div class="gallery-image rounded-3 border border-light">
                <img src="{{ image.image.url }}"
                     title="{{ image.title_image }}"
                     alt="{{ image.title_image }}"
                     class="img-fluid">
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

{% if searches.count > 0 %}
<section class="fluid-container landing-item gray-bg-color" id="searches">
    <article class="p-5">
        <h1 class="dark-color">Pesquisas</h1>
        <div class="p-3">
            {% for search in searches %}
            <div class="mb-5">
                <h2 class="h3">{{ search.description_search }}</h2>
                <p class="m-3">{{ search.max_option }}</p>
            </div>
            {% endfor %}
        </div>
    </article>
</section>
{% endif %}
{% endblock %}
