{% extends 'base.html' %}
{% load static %}

{% block title %} | Redefinição de senha enviada{% endblock %}

{% block content %}
<section class="container p-5">
    <div class="row row-cols-1 row-cols-lg-2 gray-bg-color rounded">
        <div class="col">
            <img src="{% get_media_prefix %}static/user_svg_image.svg" alt="" class="img-fluid">
        </div>
        <div class="col pt-5 pb-5 dark-color">
            <h2 class="my-3">A senha foi redefinida</h2>
            <p><a href="{% url 'user:login' %}">Logar novamente?</a></p>
        </div>
    </div>
</section>
{% endblock %}
