{% extends 'base.html' %}
{% load static %}

{% block title %} | Redefinição de senha enviada{% endblock %}

{% block content %}
<section class="container p-5">
    <div class="row row-cols-1 row-cols-lg-2 gray-bg-color rounded">
        <div class="col">
            <img src="{% get_media_prefix %}static/user_svg_image.svg" alt="" class="img-fluid">
        </div>
        <div class="col pt-5 pb-5 dark-color">
            <h2 class="my-3">Redefinição de senha enviada</h2>
            <p>
                Nos te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email
                fornecido. Você receberá a mensagem em breve. Se você não recebeu um email, por favor certifique-se que
                você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.
            </p>
        </div>
    </div>
</section>
{% endblock %}
