{% extends 'base.html' %}

{% block title %} | Posts{% endblock%}

{% block content %}
<section class="fluid-container landing-item gray-bg-color">
    {% block header %}
    <h1 class="pt-5 ps-5 dark-color">Posts:</h1>
    {% endblock %}
    <!-- List of posts -->
    <div class="container card-columns pt-3 pb-3">

        {% block posts %}{% endblock %}

    </div>
    <div class="container pb-5">
        {% include 'partials/_pagination.html' %}
    </div>
</section>

{% block popup %}{% endblock %}

{% endblock %}
