{% extends 'base.html' %}

{% block title %} | Minha pesquisas{% endblock %}

{% block content %}

<section class="container-fluid gray-bg-color pt-5 pb-5">
    <div class="row pb-3">
        <div class="col col-md-6 d-none d-md-block">
            <h1>
                Pesquisas
            </h1>
        </div>
        <div class="col col-md-6 text-end">
            <a href="{% url 'search:search_create' %}">
                <button class="btn button-format">
                    Cadastrar
                </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <td>Descrição</td>
                        <td class="d-none d-md-table-cell">Data de publicação</td>
                        <td class="d-none d-md-table-cell">Data de termino</td>
                        <td>Publicado</td>
                        <td>Opções</td>
                    </tr>
                </thead>
                <tbody>
                    {% for search in searches %}
                    <tr>
                        <th>{{ search.pk }}</th>
                        <td>{{ search.description }}</td>
                        <td class="d-none d-md-table-cell">{{ search.publication_date }}</td>
                        <td class="d-none d-md-table-cell">{{ search.finish_date }}</td>
                        <td>
                            {% if search.published %}
                                Sim
                            {% else %}
                                Não
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'search:search_update' search.pk %}">
                                <button>
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                            </a>
                            <button onclick="popupForm('delete-search-form', 1);
                                             pkField('delete-search-form', {{ search.pk }})">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include 'partials/_pagination.html' %}
        </div>
    </div>
</section>

<section id="popup" style="display: none">
    <div class="dark-background"></div>
    <div class="gray-bg-color popup-content p-3 rounded rounded-5" style="display: none" id="delete-search-form">
        <button class="btn button-format secondary-bg-color"
            onclick="popupForm('delete-search-form', 0)">
            Cancelar
        </button>
        <form action="{% url 'search:search_delete' %}" method="POST" class="d-inline">
            <input type="hidden" name="primary-key">
            {% csrf_token %}
            <button class="btn button-format primary-bg-color">
                Confirmar
            </button>
        </form>
    </div>
</section>
{% endblock %}
