<nav aria-label="Indices das páginas">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link button-format rounded-0 rounded-start" href="?page=1" aria-label="Anterior">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link button-format rounded-0" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        {% endif %}

        <li class="page-item current">
            <a class="page-link button-format rounded-0" href="#">
                {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link button-format rounded-0" href="?page={{ page_obj.next_page_number }}" aria-label="Anterior">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link button-format rounded-0 rounded-end" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Anterior">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>