{% extends 'base.html' %}

{% block title %} | Album - {{ album.title_album }}{% endblock %}

{% block content %}
<section class="container-fluid landing-item gray-bg-color">
    <div class="row">
        <div class="col-xl"></div>
        <div class="col-xl-10 pt-5 pb-5">
            <h1 class="text-center">{{ album.title_album }}</h1>

            <div class="container-fluid card-columns pt-3 pb-3 text-center">
                {% for image in images %}
                <div class="card gallery-image position-relative" id="image-{{ image.pk }}">
                    <img src="{{ image.image.url }}"
                         alt="{{ image.title_image }}"
                         title="{{ image.title_image }}"
                         class="card-img-top">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xl"></div>
    </div>
</section>
{% endblock %}