<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Header -->
    {% include 'partials/_header.html' %}

    <title>{% block title %}BlogNews{% endblock %}</title>
</head>
<body class="dark-bg-color light-color">
    <!-- Navigation -->
    {% include 'partials/_nav.html' %}

    <!-- Content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    {% include 'partials/_footer.html' %}
</body>
</html>